.app-search {
  padding: 10px 20px;
}

.app-input {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: none;
  font-size: 16px;
  border: 1px solid rgba(224, 224, 224, 1);
}